; Extra environment variables
PASSWORD=test
INFURA_PROJECT_ID=0011f8c40ea94517a276992341e51713
SEGMENT_WRITE_KEY=
ONBOARDING_V2=
SWAPS_USE_DEV_APIS=
COLLECTIBLES_V1=
TOKEN_DETECTION_V2=

; Set this to test changes to the phishing warning page.
PHISHING_WARNING_PAGE_URL=
